@font-face {
  font-family: "Noto Sans";
  src: url("fonts/NotoSansVariable.ttf");
}

@keyframes progress-determinate {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes progress-indeterminate {
  0% {
    transform: translateX(-125%);
    width: 0;
  }

  100% {
    transform: translateX(125%);
  }
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(25, 25, 25);

  border-radius: 24rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(100, 100, 100);
}

* {
  animation-fill-mode: forwards;

  color: white;
  font-family: 'Noto Sans';
  font-weight: 200;
  text-decoration: none;

  scroll-behavior: smooth;

  transition: 0.25s ease;
}

a {
  border-radius: 24px;
}

audio {
  filter: invert();
}

button {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;

  background-color: rgba(0, 89, 255, 0.25);

  border: none;
  border-radius: 24rem;

  padding: 1rem;
}

button:not(:disabled) {
  cursor: url(cursors/link-select.cur), auto;
}

button:not(
  .button-error,
  .button-subtle,
  .button-success,
  .button-warning,
  .card-error-flat,
  .card-error-flat-bottom,
  .card-error-flat-bottom-left,
  .card-error-flat-bottom-left-alt,
  .card-error-flat-bottom-right,
  .card-error-flat-bottom-right-alt,
  .card-error-flat-left,
  .card-error-flat-right,
  .card-error-flat-top,
  .card-error-flat-top-left,
  .card-error-flat-top-left-alt,
  .card-error-flat-top-right,
  .card-error-flat-top-right-alt,
  .card-subtle-flat,
  .card-subtle-flat-bottom,
  .card-subtle-flat-bottom-left,
  .card-subtle-flat-bottom-left-alt,
  .card-subtle-flat-bottom-right,
  .card-subtle-flat-bottom-right-alt,
  .card-subtle-flat-left,
  .card-subtle-flat-right,
  .card-subtle-flat-top,
  .card-subtle-flat-top-left,
  .card-subtle-flat-top-left-alt,
  .card-subtle-flat-top-right,
  .card-subtle-flat-top-right-alt,
  .card-success-flat,
  .card-success-flat-bottom,
  .card-success-flat-bottom-left,
  .card-success-flat-bottom-left-alt,
  .card-success-flat-bottom-right,
  .card-success-flat-bottom-right-alt,
  .card-success-flat-left,
  .card-success-flat-right,
  .card-success-flat-top,
  .card-success-flat-top-left,
  .card-success-flat-top-left-alt,
  .card-success-flat-top-right,
  .card-success-flat-top-right-alt,
  .card-warning-flat,
  .card-warning-flat-bottom,
  .card-warning-flat-bottom-left,
  .card-warning-flat-bottom-left-alt,
  .card-warning-flat-bottom-right,
  .card-warning-flat-bottom-right-alt,
  .card-warning-flat-left,
  .card-warning-flat-right,
  .card-warning-flat-top,
  .card-warning-flat-top-left,
  .card-warning-flat-top-left-alt,
  .card-warning-flat-top-right,
  .card-warning-flat-top-right-alt):hover {
  background-color: rgba(0, 89, 255, 0.5);
}

.button-error {
  background-color: rgba(255, 0, 0, 0.25);
}

.button-error:not(:disabled):hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.button-subtle {
  background-color: rgba(25, 25, 25, 1);
}

.button-subtle:hover {
  background-color: rgba(50, 50, 50, 1);
}

.button-success {
  background-color: rgba(0, 255, 0, 0.25);
}

.button-success:hover {
  background-color: rgba(0, 255, 0, 0.5);
}

.button-warning {
  background-color: rgba(255, 255, 0, 0.25);
}

.button-warning:hover {
  background-color: rgba(255, 255, 0, 0.5);
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  background-color: black;
}

@-moz-document url-prefix() {
  body {
    margin: 8px;
  }
}

code {
  font-family: monospace;
}

html {
  cursor: url(cursors/normal-select.cur), auto;
}

input {
  outline: none;
}

input[type='text']:not(.input-error, .input-search, .input-subtle, .input-success),
input[type='number']:not(.input-error, .input-search, .input-subtle, .input-success) {
  background-color: rgba(0, 89, 255, 0.25);
}

input[type='text'],
input[type='number'] {
  border: none;

  cursor: url(cursors/text-select.cur), auto;

  font-weight: 300;

  padding: 1rem;
}

input[type='text']:not(.input-search),
input[type='number'] {
  border-radius: 24px;
}

input[type='text']:not(.input-error, .input-search, .input-subtle, .input-success):hover,
input[type='text']:not(.input-error, .input-search, .input-subtle, .input-success):focus,
input[type='number']:not(.input-error, .input-search, .input-subtle, .input-success):hover,
input[type='number']:not(.input-error, .input-search, .input-subtle, .input-success):focus {
  background-color: rgba(0, 89, 255, 0.5);
}

.input-error {
  background-color: rgba(255, 0, 0, 0.25);
}

.input-error:hover,
.input-error:focus {
  background-color: rgba(255, 0, 0, 0.5);
}

.input-subtle {
  background-color: rgba(25, 25, 25, 1);
}

.input-subtle:hover,
.input-subtle:focus {
  background-color: rgba(50, 50, 50, 1);
}

.input-success {
  background-color: rgba(0, 255, 0, 0.25);
}

.input-success::placeholder {
  color: rgb(25, 25, 25);
}

.input-success:hover,
.input-success:focus {
  background-color: rgba(0, 255, 0, 0.5);
}

.input-search {
  background-color: transparent;

  border-radius: 0;
}

textarea {
  background-color: rgba(0, 89, 255, 0.25);

  border: none;
  border-radius: 24px;

  padding: 1rem;
}

textarea:focus,
textarea:hover {
  background-color: rgba(0, 89, 255, 0.5);
}

img,
video {
  border-radius: 24px;
}

.bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}

.top {
  position: absolute;
  top: 0;
  margin-top: 1rem;
}

.left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -25%);

  margin-left: 1rem;
}

.right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -25%);

  margin-right: 1rem;
}

.card {
  background-color: rgba(0, 89, 255, 0.25);

  border-radius: 24px;

  padding: 2.5rem;
}

.card-flat {
  background-color: rgba(0, 89, 255, 0.25);

  border-radius: 7.5px;

  padding: 2.5rem;
}

.card-flat-top {
  background-color: rgba(0, 89, 255, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-flat-bottom {
  background-color: rgba(0, 89, 255, 0.25);

  border-radius: 24px;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-flat-left {
  background-color: rgba(0, 89, 255, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-bottom-left-radius: 7.5px;

  padding: 2.5rem;
}

.card-flat-right {
  background-color: rgba(0, 89, 255, 0.25);

  border-radius: 24px;
  border-top-right-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-flat-top-left {
  background-color: rgba(0, 89, 255, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;

  padding: 2.5rem;
}

.card-flat-top-left-alt {
  background-color: rgba(0, 89, 255, 0.25);

  border-radius: 24px;
  border-top-right-radius: 7.5px;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-flat-top-right {
  background-color: rgba(0, 89, 255, 0.25);

  border-radius: 24px;
  border-top-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-flat-top-right-alt {
  background-color: rgba(0, 89, 255, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-flat-bottom-left {
  background-color: rgba(0, 89, 255, 0.25);

  border-radius: 24px;
  border-bottom-left-radius: 7.5px;

  padding: 2.5rem;
}

.card-flat-bottom-left-alt {
  background-color: rgba(0, 89, 255, 0.25);

  border-radius: 24px;
  border-top-right-radius: 7.5px;
  border-top-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-flat-bottom-right {
  background-color: rgba(0, 89, 255, 0.25);

  border-radius: 24px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-flat-bottom-right-alt {
  background-color: rgba(0, 89, 255, 0.25);

  border-radius: 24px;
  border-top-right-radius: 7.5px;
  border-top-left-radius: 7.5px;
  border-bottom-left-radius: 7.5px;

  padding: 2.5rem;
}

.card-error {
  background-color: rgba(255, 0, 0, 0.25);

  border-radius: 24px;

  padding: 2.5rem;
}

.card-error-flat {
  background-color: rgba(255, 0, 0, 0.25);

  border-radius: 7.5px;

  padding: 2.5rem;
}

.card-error-flat-top {
  background-color: rgba(255, 0, 0, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-error-flat-bottom {
  background-color: rgba(255, 0, 0, 0.25);

  border-radius: 24px;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-error-flat-left {
  background-color: rgba(255, 0, 0, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-bottom-left-radius: 7.5px;

  padding: 2.5rem;
}

.card-error-flat-right {
  background-color: rgba(255, 0, 0, 0.25);

  border-radius: 24px;
  border-top-right-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-error-flat-top-left {
  background-color: rgba(255, 0, 0, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;

  padding: 2.5rem;
}

.card-error-flat-top-left-alt {
  background-color: rgba(255, 0, 0, 0.25);

  border-radius: 24px;
  border-top-right-radius: 7.5px;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-error-flat-top-right {
  background-color: rgba(255, 0, 0, 0.25);

  border-radius: 24px;
  border-top-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-error-flat-top-right-alt {
  background-color: rgba(255, 0, 0, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-error-flat-bottom-left {
  background-color: rgba(255, 0, 0, 0.25);

  border-radius: 24px;
  border-bottom-left-radius: 7.5px;

  padding: 2.5rem;
}

.card-error-flat-bottom-left-alt {
  background-color: rgba(255, 0, 0, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-error-flat-bottom-right {
  background-color: rgba(255, 0, 0, 0.25);

  border-radius: 24px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-error-flat-bottom-right-alt {
  background-color: rgba(255, 0, 0, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
  border-bottom-left-radius: 7.5px;

  padding: 2.5rem;
}

.card-subtle {
  background-color: rgba(25, 25, 25, 1);

  border-radius: 24px;

  padding: 2.5rem;
}

.card-subtle-flat {
  background-color: rgba(25, 25, 25, 1);

  border-radius: 7.5px;

  padding: 2.5rem;
}

.card-subtle-flat-top {
  background-color: rgba(25, 25, 25, 1);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-subtle-flat-bottom {
  background-color: rgba(25, 25, 25, 1);

  border-radius: 24px;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-subtle-flat-left {
  background-color: rgba(25, 25, 25, 1);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-bottom-left-radius: 7.5px;

  padding: 2.5rem;
}

.card-subtle-flat-right {
  background-color: rgba(25, 25, 25, 1);

  border-radius: 24px;
  border-top-right-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-subtle-flat-top-left {
  background-color: rgb(25, 25, 25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;

  padding: 2.5rem;
}

.card-subtle-flat-top-left-alt {
  background-color: rgb(25, 25, 25);

  border-radius: 24px;
  border-top-right-radius: 7.5px;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-subtle-flat-top-right {
  background-color: rgb(25, 25, 25);

  border-radius: 24px;
  border-top-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-subtle-flat-top-right-alt {
  background-color: rgb(25, 25, 25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-subtle-flat-bottom-left {
  background-color: rgb(25, 25, 25);

  border-radius: 24px;
  border-bottom-left-radius: 7.5px;

  padding: 2.5rem;
}

.card-subtle-flat-bottom-left-alt {
  background-color: rgb(25, 25, 25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-subtle-flat-bottom-right {
  background-color: rgb(25, 25, 25);

  border-radius: 24px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-subtle-flat-bottom-right-alt {
  background-color: rgb(25, 25, 25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
  border-bottom-left-radius: 7.5px;

  padding: 2.5rem;
}

.card-subtle .button-subtle,
.card-subtle .input-subtle,
.card-subtle .search-box-subtle,
.card-subtle-flat .search-box-subtle,
.card-subtle-flat .button-subtle,
.card-subtle-flat-bottom .search-box-subtle,
.card-subtle-flat-bottom .button-subtle,
.card-subtle-flat-bottom .input-subtle,
.card-subtle-flat-left .search-box-subtle,
.card-subtle-flat-left .button-subtle,
.card-subtle-flat-left .input-subtle,
.card-subtle-flat-right .button-subtle,
.card-subtle-flat-right .input-subtle,
.card-subtle-flat-right .search-box-subtle,
.card-subtle-flat-top .button-subtle,
.card-subtle-flat-top .input-subtle,
.card-subtle-flat-top .search-box-subtle,
.card-subtle-flat-top-left .button-subtle,
.card-subtle-flat-top-left .input-subtle,
.card-subtle-flat-top-left .search-box-subtle,
.card-subtle-flat-top-left-alt .button-subtle,
.card-subtle-flat-top-left-alt .input-subtle,
.card-subtle-flat-top-left-alt .search-box-subtle,
.card-subtle-flat-top-right .button-subtle,
.card-subtle-flat-top-right .input-subtle,
.card-subtle-flat-top-right .search-box-subtle,
.card-subtle-flat-top-right-alt .button-subtle,
.card-subtle-flat-top-right-alt .input-subtle,
.card-subtle-flat-top-right-alt .search-box-subtle,
.card-subtle-flat-bottom-left .button-subtle,
.card-subtle-flat-bottom-left .input-subtle,
.card-subtle-flat-bottom-left .search-box-subtle,
.card-subtle-flat-bottom-left-alt.button-subtle,
.card-subtle-flat-bottom-left-alt.input-subtle,
.card-subtle-flat-bottom-left-alt.search-box-subtle,
.card-subtle-flat-bottom-right .button-subtle,
.card-subtle-flat-bottom-right .input-subtle,
.card-subtle-flat-bottom-right .search-box-subtle,
.card-subtle-flat-bottom-right-alt .button-subtle,
.card-subtle-flat-bottom-right-alt .input-subtle,
.card-subtle-flat-bottom-right-alt .search-box-subtle,
.snackbar .button-subtle,
.snackbar .input-subtle,
.snackbar .search-box-subtle {
  border: 1px solid rgb(100, 100, 100);
}

.card-success {
  background-color: rgba(0, 255, 0, 0.25);

  border-radius: 24px;

  padding: 2.5rem;
}

.card-success-flat {
  background-color: rgba(0, 255, 0, 0.25);

  border-radius: 7.5px;

  padding: 2.5rem;
}

.card-success-flat-top {
  background-color: rgba(0, 255, 0, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-success-flat-bottom {
  background-color: rgba(0, 255, 0, 0.25);

  border-radius: 24px;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-success-flat-left {
  background-color: rgba(0, 255, 0, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-bottom-left-radius: 7.5px;

  padding: 2.5rem;
}

.card-success-flat-right {
  background-color: rgba(0, 255, 0, 0.25);

  border-radius: 24px;
  border-top-right-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-success-flat-top-left {
  background-color: rgba(0, 255, 0, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;

  padding: 2.5rem;
}

.card-success-flat-top-left-alt {
  background-color: rgba(0, 255, 0, 0.25);

  border-radius: 24px;
  border-top-right-radius: 7.5px;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-success-flat-top-right {
  background-color: rgba(0, 255, 0, 0.25);

  border-radius: 24px;
  border-top-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-success-flat-top-right-alt {
  background-color: rgba(0, 255, 0, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-success-flat-bottom-left {
  background-color: rgba(0, 255, 0, 0.25);

  border-radius: 24px;
  border-bottom-left-radius: 7.5px;

  padding: 2.5rem;
}

.card-success-flat-bottom-left-alt {
  background-color: rgba(0, 255, 0, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-success-flat-bottom-right {
  background-color: rgba(0, 255, 0, 0.25);

  border-radius: 24px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-success-flat-bottom-right-alt {
  background-color: rgba(0, 255, 0, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
  border-bottom-left-radius: 7.5px;

  padding: 2.5rem;
}

.card-warning {
  background-color: rgba(255, 255, 0, 0.25);

  border-radius: 24px;

  padding: 2.5rem;
}

.card-warning-flat {
  background-color: rgba(255, 255, 0, 0.25);

  border-radius: 7.5px;

  padding: 2.5rem;
}

.card-warning-flat-top {
  background-color: rgba(255, 255, 0, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-warning-flat-bottom {
  background-color: rgba(255, 255, 0, 0.25);

  border-radius: 24px;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-warning-flat-left {
  background-color: rgba(255, 255, 0, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-bottom-left-radius: 7.5px;

  padding: 2.5rem;
}

.card-warning-flat-right {
  background-color: rgba(255, 255, 0, 0.25);

  border-radius: 24px;
  border-top-right-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-warning-flat-top-left {
  background-color: rgba(255, 255, 0, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;

  padding: 2.5rem;
}

.card-warning-flat-top-left-alt {
  background-color: rgba(255, 255, 0, 0.25);

  border-radius: 24px;
  border-top-right-radius: 7.5px;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-warning-flat-top-right {
  background-color: rgba(255, 255, 0, 0.25);

  border-radius: 24px;
  border-top-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-warning-flat-top-right-alt {
  background-color: rgba(255, 255, 0, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-bottom-left-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-warning-flat-bottom-left {
  background-color: rgba(255, 255, 0, 0.25);

  border-radius: 24px;
  border-bottom-left-radius: 7.5px;

  padding: 2.5rem;
}

.card-warning-flat-bottom-left-alt {
  background-color: rgba(255, 255, 0, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-warning-flat-bottom-right {
  background-color: rgba(255, 255, 0, 0.25);

  border-radius: 24px;
  border-bottom-right-radius: 7.5px;

  padding: 2.5rem;
}

.card-warning-flat-bottom-right-alt {
  background-color: rgba(255, 255, 0, 0.25);

  border-radius: 24px;
  border-top-left-radius: 7.5px;
  border-top-right-radius: 7.5px;
  border-bottom-left-radius: 7.5px;

  padding: 2.5rem;
}

.card-interactive:hover {
  background-color: rgba(0, 89, 255, 0.5);
  cursor: url(https://linfindel.github.io/nadircss/cursors/link-select.cur), auto;
}

.card-error-interactive:hover {
  background-color: rgba(255, 0, 0, 0.5);
  cursor: url(https://linfindel.github.io/nadircss/cursors/link-select.cur), auto;
}

.card-success-interactive:hover {
  background-color: rgba(0, 255, 0, 0.5);
  cursor: url(https://linfindel.github.io/nadircss/cursors/link-select.cur), auto;
}

.card-warning-interactive:hover {
  background-color: rgba(255, 255, 0, 0.5);
  cursor: url(https://linfindel.github.io/nadircss/cursors/link-select.cur), auto;
}

.column {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.column-flat {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.divider {
  background-color: rgb(100, 100, 100);

  width: 40vw;
  height: 0.05rem;
}

.material-symbols-rounded {
  user-select: none;
}

h1 {
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

nav {
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: rgba(0, 89, 255, 0.25);

  border-radius: 24px;

  width: 100%;
}

nav.error {
  background-color: rgba(255, 0, 0, 0.25);
}

nav.success {
  background-color: rgba(0, 255, 0, 0.25);
}

.outline-none {
  outline: none;
}

.progress {
  background-color: rgba(0, 89, 255, 0.25);

  border-radius: 24rem;

  overflow: hidden;

  width: 100%;
  height: 0.5rem;
}

.progress-bar-determinate {
  animation: 5s progress-determinate linear infinite;

  background-color: rgb(0, 89, 255);

  border-radius: 24rem;

  width: 100%;
  height: 0.5rem;
}

.progress-bar-indeterminate {
  animation: 2.5s progress-indeterminate linear infinite;

  background-color: rgb(0, 89, 255);

  border-radius: 24rem;

  width: 100%;
  height: 0.5rem;
}

.progress-error {
  background-color: rgba(255, 0, 0, 0.25);

  border-radius: 24rem;

  overflow: hidden;

  width: 100%;
  height: 0.5rem;
}

.progress-bar-determinate-error {
  animation: 5s progress-determinate linear infinite;

  background-color: rgb(255, 0, 0);

  border-radius: 24rem;

  width: 100%;
  height: 0.5rem;
}

.progress-bar-indeterminate-error {
  animation: 2.5s progress-indeterminate linear infinite;

  background-color: rgb(255, 0, 0);

  border-radius: 24rem;

  width: 100%;
  height: 0.5rem;
}

.progress-subtle {
  background-color: rgb(25, 25, 25);

  border-radius: 24rem;

  overflow: hidden;

  width: 100%;
  height: 0.5rem;
}

.progress-bar-determinate-subtle {
  animation: 5s progress-determinate linear infinite;

  background-color: rgb(100, 100, 100);

  border-radius: 24rem;

  width: 100%;
  height: 0.5rem;
}

.progress-bar-indeterminate-subtle {
  animation: 2.5s progress-indeterminate linear infinite;

  background-color: rgb(100, 100, 100);

  border-radius: 24rem;

  width: 100%;
  height: 0.5rem;
}

.progress-success {
  background-color: rgba(0, 255, 0, 0.25);

  border-radius: 24rem;

  overflow: hidden;

  width: 100%;
  height: 0.5rem;
}

.progress-bar-determinate-success {
  animation: 5s progress-determinate linear infinite;

  background-color: rgb(0, 255, 0);

  border-radius: 24rem;

  width: 100%;
  height: 0.5rem;
}

.progress-bar-indeterminate-success {
  animation: 2.5s progress-indeterminate linear infinite;

  background-color: rgb(0, 255, 0);

  border-radius: 24rem;

  width: 100%;
  height: 0.5rem;
}

.progress-warning {
  background-color: rgba(255, 255, 0, 0.25);

  border-radius: 24rem;

  overflow: hidden;

  width: 100%;
  height: 0.5rem;
}

.progress-bar-determinate-warning {
  animation: 5s progress-determinate linear infinite;

  background-color: rgb(255, 255, 0);

  border-radius: 24rem;

  width: 100%;
  height: 0.5rem;
}

.progress-bar-indeterminate-warning {
  animation: 2.5s progress-indeterminate linear infinite;

  background-color: rgb(255, 255, 0);

  border-radius: 24rem;

  width: 100%;
  height: 0.5rem;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.row-flat {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.search-box {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: rgba(0, 89, 255, 0.25);

  border-radius: 24px;

  padding-left: 1rem;
}

.search-box *,
.search-box-error *,
.search-box-subtle * {
  outline: none;
}

.search-box:hover,
.search-box:focus-within {
  background-color: rgba(0, 89, 255, 0.5);
}

.search-box-error {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: rgba(255, 0, 0, 0.25);

  border-radius: 24px;

  padding-left: 1rem;
}

.search-box-error:hover, 
.search-box-error:focus-within {
  background-color: rgba(255, 0, 0, 0.5);
}

.search-box-subtle {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: rgba(25, 25, 25, 1);

  border-radius: 24px;

  padding-left: 1rem;
}

.search-box-subtle:hover,
.search-box-subtle:focus-within {
  background-color: rgba(50, 50, 50, 1);
}

.snackbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;

  background-color: rgba(25, 25, 25, 1);

  border-radius: 24px;

  padding: 1rem;
}

.text-center {
  text-align: center;
}

.toolbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  justify-content: center;

  border: 1px solid rgb(100, 100, 100);
  border-radius: 24px;

  padding: 1rem;
}

.toolbar-warning {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  justify-content: center;

  border: 1px solid rgba(255, 255, 0, 0.5);
  border-radius: 24px;

  padding: 1rem;
}

.toolbar-divider {
  background-color: rgb(100, 100, 100);

  width: 1px;
  height: 3.5rem;
}

.toolbar-divider-horizontal {
  background-color: rgb(100, 100, 100);

  height: 1px;
  width: 3.5rem;

  margin: 1rem;
}

.absolute-centre {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-column {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  width: 100%;
}

.hole {
  background-color: black;

  border-radius: 24px;

  padding: 2.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.tooltip {
  background-color: rgba(0, 89, 255, 0.25);

  border-radius: 100vw;

  padding-left: 1rem;
  padding-right: 1rem;
}