@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Cantarell";
    src: url("Cantarell.otf");
}

@keyframes nova {
    0% {
        box-shadow: 0px 0px 0.000001px 12.5px rgba(0, 89, 255, 0.2), 0px 0px 500px 5px #0059ff;
    }
  
    50% {
        box-shadow: 0px 0px 0.000001px 20px rgba(0, 89, 255, 0.2), 0px 0px 500px 10px #0059ff;
    }
  
    100% {
        box-shadow: 0px 0px 0.000001px 12.5px rgba(0, 89, 255, 0.2), 0px 0px 500px 5px #0059ff;
    }
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 89, 255, 0.25);

    border-radius: 24rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 89, 255, 0.5);
}

.body-font-cantarell * {
    font-family: "Cantarell";
    font-weight: 300;
}

.body-font-noto * {
    font-family: "Noto Sans";
    font-weight: 200;
}

.body-font-roboto * {
    font-family: "Roboto";
    font-weight: 300;
}

* {
    color: white;
    text-decoration: none;

    transition: 0.25s ease;
}

button {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;

    background-color: rgba(0, 89, 255, 0.25);

    border: none;
    border-radius: 24rem;

    cursor: url('Cursors/link-select.cur'), auto;

    padding: 1rem;
}

button:not(.button-error, .button-subtle, .button-icon-error, .button-icon-subtle):hover {
    background-color: rgba(0, 89, 255, 0.5);
}

.button-error {
    background-color: rgba(255, 0, 0, 0.25);
}

.button-error:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.button-subtle {
    background-color: rgba(25, 25, 25, 1);
}

.button-subtle:hover {
    background-color: rgba(50, 50, 50, 1);
}

.button-icon-error {
    background-color: rgba(255, 0, 0, 0.25);
}

.button-icon-error:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.button-icon-subtle {
    background-color: rgba(25, 25, 25, 1);
}

.button-icon-subtle:hover {
    background-color: rgba(50, 50, 50, 1);
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    
    background-color: black;
}

html {
    cursor: url("Cursors/normal-select.cur"), auto;
}

input[type="text"]:not(.input-error, .input-search, .input-subtle, .input-success) {
    background-color: rgba(0, 89, 255, 0.25);
}

input[type="text"] {
    border: none;

    cursor: url('Cursors/text-select.cur'), auto;

    font-weight: 300;

    padding: 1rem;
}

input[type="text"]:not(.input-search) {
    border-radius: 24px;
}

input[type="text"]:not(.input-error, .input-search, .input-subtle, .input-success):hover, input[type="text"]:not(.input-error, .input-search, .input-subtle, .input-success):focus {
    background-color: rgba(0, 89, 255, 0.5);
}

.input-error {
    background-color: rgba(255, 0, 0, 0.25);
}

.input-error:hover, .input-error:focus {
    background-color: rgba(255, 0, 0, 0.5);
}

.input-subtle {
    background-color: rgba(25, 25, 25, 1);
}

.input-subtle:hover, .input-subtle:focus {
    background-color: rgba(50, 50, 50, 1);
}

.input-success {
    background-color: rgba(0, 255, 0, 0.25);
}

.input-success::placeholder {
    color: rgb(25, 25, 25);
}

.input-success:hover, .input-success:focus {
    background-color: rgba(0, 255, 0, 0.5);
}

.input-search {
    background-color: transparent;

    border-radius: 0;
}

.card {
    background-color: rgba(0, 89, 255, 0.25);

    border-radius: 24px;

    padding: 2.5rem;
}

.card-error {
    background-color: rgba(255, 0, 0, 0.25);

    border-radius: 24px;

    padding: 2.5rem;
}

.card-subtle {
    background-color: rgba(25, 25, 25, 1);

    border-radius: 24px;

    padding: 2.5rem;
}

.card-success {
    background-color: rgba(0, 255, 0, 0.25);

    border-radius: 24px;

    padding: 2.5rem;
}

.card-warning {
    background-color: rgba(255, 255, 0, 0.25);

    border-radius: 24px;

    padding: 2.5rem;
}

.checkbox-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.checkbox-column * {
    max-width: 50%;
}

.checkbox-indeterminate {
    background-color: rgba(255, 255, 0, 0.25);

    border-radius: 5px;

    cursor: pointer;

    padding: 1rem;
}

.checkbox-indeterminate:hover {
    background-color: rgba(255, 255, 0, 0.5);
}

.checkbox-selected {
    background-color: rgba(0, 89, 255, 0.25);

    border-radius: 5px;

    cursor: pointer;

    padding: 1rem;
}

.checkbox-selected:hover {
    background-color: rgba(0, 89, 255, 0.5);
}

.checkbox-unselected {
    background-color: rgba(25, 25, 25, 1);

    border-radius: 5px;

    color: transparent;

    cursor: pointer;

    padding: 1rem;
}

.checkbox-unselected:hover {
    background-color: rgba(50, 50, 50, 1);
}

.chip {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;

    background-color: rgba(0, 89, 255, 0.25);

    border-radius: 24rem;

    cursor: pointer;

    padding: 1rem;
}

.chip:hover {
    background-color: rgba(0, 89, 255, 0.5);
}

.chip-input {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;

    background-color: rgba(0, 89, 255, 0.25);

    border-radius: 24rem;

    cursor: pointer;

    padding: 1rem;
}

.chip-input:hover {
    background-color: rgba(0, 89, 255, 0.5);
}

.column {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.divider {
    background-image: linear-gradient(90deg, transparent, rgba(0, 89, 255, 0.6), rgba(0, 89, 255, 0.5), rgba(0, 89, 255, 0.6), transparent);

    width: 75vw;
    height: 0.05rem;
}

.logo-nova {
    animation: 2.5s nova infinite;

    background-color: black;

    border: 2px solid #0059ff;
    border-radius: 100%;

    width: 7.5vw;
    height: 7.5vw;
}

.logo-words {
    background-image: linear-gradient(to right, rgb(67, 206, 162), rgb(24, 90, 157));

    border-radius: 10px;

    width: 15vw;
    height: 15vh;
}

.material-symbols-rounded {
    user-select: none;
}

.navbar {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    background-color: rgba(0, 89, 255, 0.25);

    border-radius: 24px;

    position: sticky;
    top: 0;

    width: 100%;
}

.outline-none {
    outline: none;
}

.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.search-box {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    background-color: rgba(0, 89, 255, 0.25);

    border-radius: 24px;

    padding-left: 1rem;
}

.search-box *, .search-box-error *, .search-box-subtle * {
    outline: none;
}

.search-box:hover, .search-box:focus-within {
    background-color: rgba(0, 89, 255, 0.5);
}

.search-box-error {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: rgba(255, 0, 0, 0.25);

    border-radius: 24px;

    padding-left: 1rem;
}

.search-box-error:hover, .search-box-error:focus-within {
    background-color: rgba(255, 0, 0, 0.5);
}

.search-box-subtle {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: rgba(25, 25, 25, 1);

    border-radius: 24px;

    padding-left: 1rem;
}

.search-box-subtle:hover, .search-box-subtle:focus-within {
    background-color: rgba(50, 50, 50, 1);
}

.segmented-button {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: center;

    border-radius: 24rem;

    overflow: hidden;
}

.segmented-button-active {
    background-color: #0059ff;
}

.segmented-button button {
    border-radius: 0;
}

.text-center {
  text-align: center;
}
